@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You can test <a href="/ProductPages">with Razor Views</a> or test <a href="~/product.html">Rest APIs</a>.</p>
</div>
