@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <p>In this sample app, you can manage products in 2 ways:</p>
    <ul class="list-group">
        <li class="list-group-item"><a href="/ProductPages">Razor Views</a></li>
        <li class="list-group-item"><a href="~/product.html">Rest APIs</a></li>
    </ul>
</div>